  /* Small Devices, Tablets */ 
  @media only screen and (max-width: 768px) {
  
    .main-header .conteiner-header .header__top {
      align-items: center;
      flex-direction: column;
    }
  
    .main-header .conteiner-header .header__top .phone-info {
      text-align: center;
      margin-top: 20px;
    }
  
    .header__tytle {
      margin: auto;
      max-width: 540px;
      text-align: center;
      align-items: center;
    }
  
    .header__main-character {
      opacity: 0;
    }
  
    .main-header .conteiner-header .header__top .logo {
      font-size: 36px;
  
    }
  
    .navigation__list {
      margin-top: 20px;
    }

    .section .container-section .section__header .section__tytle {
      padding-top: 94px;
      padding-bottom: 16px;
      text-align: center;
    }

    .section__text-tytle {
      margin: auto;
      text-align: center;
    }

    .section__text-paragraph {
      display: none;
    }

    .section .container-section .section__content .section__image {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 40px;

      &-bacground {
        align-items: center;
      }
  } 

  .section .container-section .section__content .section__image .section__image-play {
    margin: auto;
  }

  .section__popular-services {
    margin-top: 10px;
    justify-content: center;
  }

  .section .container-section .section__content .section__cards {
    margin-top: 80px;
  }

  .navigation__section .navigation__list {
    justify-content: center;
  }

  .section__services-cost {
    justify-content: center;
  }

  .section__services-cost .section__services-cost-left {
    margin-right: 0px;
  }

  .section-masters__tytle-description {
    text-align: center;
  }

  .section-masters .section__cards-masters {
    justify-content: center;
  }

  .section-examples .section__header {
    justify-content: center;
  }

  .section-examples .section__content-examples .section__slider {
    justify-content: center;
    margin-top: 20px;
  }

  .section__header {
    margin: auto;
    text-align: center;
    align-items: center;
  }

  .section-contact .section__header .social-network_gorizontal {
    justify-content: center;
    padding-bottom: 40px;
  }

  .section-contact .contact-form {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
  }

  .footer { 
    margin-top: 40px;
  }

  .copy {
    text-align: center;
    justify-content: center;
  }

  footer .container-footer .copy p {
    text-align: center;
    margin-bottom: 10px;
    margin: auto;
  }

  footer .container-footer .navigation-footer {
    position: relative;
    display: flex;
    justify-content: center;
    top: 2px;
  }

  .navigation-footer a {
    color: #333333;
    font-size: 12px;
    line-height: 15px;
  }
}
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width: 480px) { 
  
    .navigation__header {
      display: none;
    }
  
    .main-header .conteiner-header .social-network {
      margin: auto;
      display: flex;
      top: 16%;
      left: 35%;
    }
  
    .social__item:not(:first-child) {
      margin-left: 20px;
    }
  
    .header__tytle p {
      margin-top: 17px;
      font-weight: 300;
      font-size: 25px;
    }
  
  } 
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width: 320px) { 
  }