@import 'libs';
@import 'common';

.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 130px;
  background-image: url(../img/background_header.png);
  overflow: hidden;

  .conteiner-header {
    position: relative;
    max-width: 1110px;
    margin: auto;

    .header__top {
      max-width: 1110px;
      position: relative;
      display: flex;
      margin-bottom: 120px;
      width: 100%;
      align-items: baseline;
      justify-content: space-between;
      z-index: 1;

      .logo {
        color: #333333;
        font-size: 24px;
        line-height: 29.26px;
        font-weight: 700;
      }
      
      .phone-info {
        text-align: right;
      }
      
      .phone-info a {
        font-size: 18px;
        color: #333333;
        line-height: 14px;
      }
      
      .phone-info .time-working {
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
      }
    }

    .header__tytle {
      position: relative;
      z-index: 1;
      max-width: 540px;
    
      .header__h1 {
        font-size: 48px;
        line-height: 58.51px;
        font-weight: 600;
        color: #333333;
      }
    
      .header__tytle p {
        margin-top: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
      }
      
    }
    .header__main-character {
      position: absolute;
      bottom: -130px;
      right: 65px;
      z-index: 0;
    }
    
    .header__main-character::before {
      position: absolute;
      content: '';
      width: 472px;
      height: 472px;
      border-radius: 50%;
      background-color: #FB9475;
      bottom: -110px;
      right: -3px;
    }
    
    .header__main-character img {
      display: block;
      position: relative;
      max-width: 524px;
      max-height: 510px;
    }
    
    .social-network {
      list-style: none;
      position: absolute;
      top: 239px;
      right: 0px;
    }
    
    .social-network img,a:not(:first-child) {
      display: block;
      margin-top: 20px;
      max-width: 28px;
      max-height: 28px;
      
    }
  }
}


.section {
  position: relative;
  background-color: white;

  .container-section {
    position: relative;
    max-width: 1110px;
    margin: auto;

    .section__header {
      .section__tytle {
        padding-top: 94px;
        color: #333333;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 32px;
      }
    }

    .section__content {
      position: relative;
      .section__text {
        .section__text-tytle {
          color: #333333;
          max-width: 570px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
        }

        .section__text-paragraph {
          color: #333333;
          max-width: 540px;
          padding-top: 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }
      }

      .section__image {
        position: absolute;
        top: 0px;
        right: 0;

        .section__image-bacground {
          max-width: 445px;
          max-height: 296px;
        }

        .section__image-play {
          position: absolute;
          text-align: center;
          max-width: 186px;
          top: 102px;
          right: 127px;
          left: 131px;
          bottom: 101px;

          .section__image-play-icon {
            max-width: 60px;
            max-height: 60px;
          }

          .section__image-play-text {
            padding-top: 7px;
            color: white;
          }
        }
      }

      .section__cards {
        position: relative;
        display: flex;
        margin-top: 130px;
        max-width: 1110px;
        align-items: center;
        justify-content: space-between;

        .section-card {
          max-width: 350px;
          text-align: center;
          align-items: center;

          .section-card__image {
            margin-bottom: 28px;
            max-width: 48px;
            max-width: 48px;
          }

          .section-card__tytle {
            color: #333333;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
          }

          .section-card__text {
            max-width: 290px;
            padding-top: 12px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.section__popular-services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card-service {
    max-width: 350px;
    padding-bottom: 48px;

    .card-service__image {
      max-width: 350px;
      max-height: 180px;
    }

    .card-service__tytle {
      margin-top: 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
      }

    .card-service__text {
      margin-top: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #333333;
    }

  }

}


.navigation__section {
    
  .navigation__list {
    display: flex;
    list-style: none;

    .navigation__item:not(:last-child) {
      margin-right: 28px;
    }

    .navigation__item .masters {
      color: #00BF78;
      } 

    .navigation__link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
    }
    
    .navigation__link:active {
      color: #00BF78;
    }
    
  }

  .navigation__link:active {
    text-decoration: underline;
    color: #00BF78;
  }
        
  .navigation__link:visited { 
    text-decoration: underline; 
  }
}

.section__services-cost {
  margin-top: 51px;
  display: flex;
	flex-wrap: wrap;
  padding-bottom: 80px;
  
.section__services-cost-left {
  margin-right: 126px;
}

  .card-services-cost {
    position: relative;
    width: 445px;

    .card-services-cost__tytle {
      padding-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;

    }

    .card-services-cost__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      padding-bottom: 36px;
    }

    .card-services-cost__price {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00BF78;
    }
  }
}


.section-masters {
  background-color: #F8F6F7;

  .section-masters__tytle-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 24px;
  }

  .section__cards-masters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 80px;

    .section__card-master {

      .section__card-master-img1 {
        position: relative;

        .section__card-master-img-descr {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 99%;
          padding-top: 133px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          background-color: rgba(0,0,0,.5);
          border-radius: 8px;
          color: white;
          opacity: 0;
        }

        .section__card-master img {
          max-width: 255px;
          max-height: 300px;
        }
      }

      .section__card-master-img1:hover .section__card-master-img-descr {
        opacity: 1;

      }

      .section__card-master-name {
        margin-top: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }

      .section__card-master-specialization {
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }

      .section__card-master-description {
        margin-top: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;}
    }
  }
}


.section-examples {
  background-color: white;

  .section-examples-container {
    position: relative;
    max-width: 1440px;
    margin: auto;
  }

  .section__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1110px;
    width: 100%;
    margin: auto;

    .header-button {
      cursor: pointer;
      border: 0;
      background-color: white;
      margin-left: 38px;
      z-index: 1;
      max-width: 40px;
      max-height: 40px;
    }

    .header-button:hover {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #F8F6F7;;
    }
  }

  .section__content-examples {
    position: relative;
    max-width: 1440px;
    margin: auto;

    .section__slider {
      display: flex;
      flex-wrap: wrap;
      gap: 29px;

      .section__slider-item {

        .section__slider-item-img {
          position: relative;

          .section__slider-item-img1 {
          max-width: 338px;
          max-height: 338px;
          }

          .section__slider-item-img-descr {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            padding-top: 133px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            background-color: rgba(0,0,0,.5);
            border-radius: 8px;
            color: white;
            opacity: 0;
          }
        }

        .section__slider-item-img:hover .section__slider-item-img-descr {
          opacity: 1;
          transition: 1s;
          transform: scale(1.1);
          z-index: 1;
        }

        .section__slider-item-img:hover .section__slider-item-img1 {
          opacity: 1;
          transition: 1s;
          transform: scale(1.1);
          z-index: 0;
        }
      }
    }

    .section-examples__brends-tytle {
      margin-top: 116px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 40px;
    }

    .brends {
      opacity: 0.5;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 70px;
      padding-bottom: 100px;
      align-items: baseline;
      max-width: 870px;
      width: 100%;
    }

    .brends img {
      max-width: 100%;
      max-height: auto;
      min-width: 67px;
      min-height: auto;
    }
  }
}


.section-contact {
  position: relative;
  background-color: #F8F6F7;

  .section__header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    .section__tytle-adress {
      line-height: 20px;
      color: #333333;
      padding-bottom: 20px;
    }

    .section__tytle-tel {
      line-height: 14px;
      padding-bottom: 20px;
      display: block;
      color: #333333;
    }

    .section__tytle-email {
      line-height: 20px;
      padding-bottom: 32px;
      display: block;
      text-decoration-line: underline;
    }

    .section__tytle-text {
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 14px;
    }

    .social-network_gorizontal {
      margin: auto;
      display: flex;
      list-style: none;
      padding-bottom: 135px;
    }
  
    .social__item:not(:first-child) {
      margin-left: 20px;
    }

  }

    .contact-form {
      margin-top: 40px;
      top: 0px;
      right: 100px;
      position: absolute;
      background: #fff;
      border-radius: 8px;
      max-width: 445px;
      max-height: 410px;

      .contact-form__tytle {
        margin: auto;
        padding-top: 40px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 14px;
        max-width: 375px;
      }

      .contact-form__text {
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
        max-width: 375px;
      }

      .formEntry {
        margin: auto;
        display: block;
        margin-top: 25px;
        border-color: #D8D8D8;
        border-radius: 5px;
        width: 375px;
        height: 45px;
        max-width: 375px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
      }

      .contact-form__button {
        margin: auto; 
        border-radius: 24px;
        padding: 17px 145px;
        max-width: 375px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 25px;
      }

      .contact-form__footer {
        margin: auto;
        margin-top: 20px;
        padding-bottom: 40px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #333333;
        max-width: 375px;
      }
    }

}


footer {
  background-color: white;
  position: relative;

  .container-footer {
    position: relative;
    padding-top: 94px;
    max-width: 1110px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    
    .copy p {
      max-width: 162px;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    } 
    
    .copy a {
      margin-top: 0;
      max-width: 220px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #278AFF;
      text-decoration-line: underline;
    } 
    
    .navigation-footer {
      position: absolute;
      right: 0;
      bottom: 30px;
    }
    
    .navigation-footer ul {
      display: flex;
      list-style: none;
    }
    
    .navigation-footer li:not(:last-child) {
      margin-right: 28px;
    }
    
    .navigation-footer a {
      color: #333333;
    }
  }
  
}

@import 'media';

